body {
    font-family: 'Arial', sans-serif;
    margin: 0 auto;
    padding: 0; ;
    background-color: #f9f9f9;
    text-align: center;
   
}

header {
    background-color: #333;
    background-image: url(./rock-bg.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
    padding: 20px;
    margin: 20px auto;
}
nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

ol{
    margin: 0;
    padding: 0;
    justify-content: center;
    list-style: disc;
    list-style-position: inside;
}

li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-family: 'Rock Salt', cursive;
    font-size: 18px;
    text-transform: uppercase;
}

a:hover {
    color: #ffcc00;
}

main {
    max-width: 800px;
    margin: 20px auto;
}

section {
    margin: 50px 0;
}

img {
    border: solid 1px #ddd;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


footer {
    background-color: #333;
    background-image: url(./rock-bg.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
    padding: 10px;;
    bottom: 0;
    width: 100%;
}
a{
    color: cadetblue;
   
}
#learn-more{
    margin: 20px auto ;
    padding: 0;
    height: auto;
    width: 80%;
    text-align: center;
}
#learn-more a{
    color: rgb(14, 14, 125);
    text-decoration: none;
    font-family: 'Rock Salt', cursive;
}
#list{
    margin: 20px auto ;
    padding: 0;
    height: auto;
    width: 80%;;
}


