*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Squashed Img into */
body{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    /* border: 5px solid blue; */
    background-color: rgba(128, 128, 128, 0.548);
}
.sidebar{
    background-color: rgba(0, 0, 0, 0.842);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* border: 1px solid black; */
    gap: 1em;
}
.sidebar img{
    width: 50%;
    height: auto;
    border-radius: 100px;
    border: 2px solid gray;
}
.sidebar p{
    color: whitesmoke;
    font-size: 1.2em;
    padding: 0.25em;
    text-align: center;
}
nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    width: 100%;
    height: 100%;
    gap: 0.5em;
    
}
nav a{
    text-decoration: none;
    color: yellow;
    padding: 0.5em;
    
}
  
nav li a {
    display: block;
    /* padding: 8px 16px; */
    text-decoration: none;
  }
  
  /* Change the link color on hover */
nav  li a:hover {
    text-shadow: 1px 1px 2px black;
    color: lime;
    scale: 1.1;
  }




/* Test */
.socials{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
.socials i{
    color: limegreen;
    font-size: 1.5em;
}
.home{
    /* background-color: sandybrown; */
    background-image: url(./img/abstrakt.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    height: 100vh;
    border: 1px solid black;
    gap: 1em;
}
.home h1{
    font-size: 3em;
    color: yellow;
    text-shadow: red 1px 1px;
}
.home h2{
    font-size: 2em;
    color: yellow;
    text-shadow: red 1px 1px;
}

.home p{
    margin-top: 1em;
    font-size: 1.5em;
    color: yellow;
    text-shadow: red 1px 1px;
}
#scrolltop{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}
.about{
    /* background-color: sandybrown; */
    background-image: url(./img/dragon.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
    width: auto;
    height: 100vh;
    border: 1px solid black;
    gap: 1em;
    
}
.about h1{
    font-size: 2.25em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.856);
    color: white;
    border-radius: 5px;
    margin-bottom: 1em
}
.about p{
    border: 1px solid black;
    padding: 1em;
    border-radius: 5px;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.856);
    color: white;
}
.skills{
    /* background-color: sandybrown; */
    background-image: url(./img/jump.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    height: 100vh;
    border: 1px solid black;
    gap: 1em;
    color: yellow;
    text-shadow: black 1px 1px; 
}
.skills h1{
    font-size: 2.25em;
    text-align: center;
}
.progressBar{
    border: 1px solid black;
    height: 1em;
}
.progress{
    background-color: green;
    height: 100%;
    width: 0%;
}
.projects{
    /* background-color: sandybrown; */
    background-image: url(./img/sonnuntergang.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    height: 100vh;
    
    border: 1px solid black;   
}
.projects h1{
    font-size: 2.25em;
    text-align: center;
}
.projectCard{
    display: flex;
    flex-direction: column;
    background-image: url(./img/zahlen.avif);
    align-items: center;
    justify-content: center;
    gap: 1em;
    background-color: rgba(128, 128, 128);
    border: 2px solid black;
    border-radius: 5px;
    padding: 1em;
    background-color: rgba(128, 128, 128);
    border: 2px solid black;
    border-radius: 5px;
}
.projects a{
    text-decoration: none;
    color: yellow;
    border-radius: 5px;
    font-size: small;
    padding: 0.3em;
}
.projects a:hover{
    background-color: rgba(0, 0, 0, 0.856);
    color: lime;
    text-shadow: 1px 1px 2px ;
}
.contact{
    /* background-color: sandybrown; */
    background-image: url(./img/sonnuntergang2.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 3em;
    padding-right: 3em;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    height: 100vh;
    border: 1px solid black;
    gap: 1em;
}
.contact h1{
    font-size: 2.25em;
    text-align: center;
    color: yellow;
    background-color: rgba(128, 128, 128);
    background-image: url(./img/zahlen.avif);
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.5em;
}
.contact form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background-color: rgba(128, 128, 128);
    background-image: url(./img/zahlen.avif);
    border: 2px solid black;
    border-radius: 5px;
    padding: 1em;
}
.contact form input{
    width: 100%;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 5px;
}
.contact form textarea{
    width: 100%;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 5px;
}
.contact form button{
    width: 80%;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.856);
    color: white;
    font-size: 1.2em;
}
footer{
    background-color: rgba(0, 0, 0, 0.877);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    border: 1px solid black;
    gap: 1em;
}

@media screen and (min-width: 768px){
    main{
        grid-area: auto;
        grid-template-areas: "sidebar home"
                            "sidebar about"
                            "sidebar skills"
                            "sidebar projects"
                            "sidebar contact"
                            "sidebar footer";

    }
    .home{
        grid-area: home;
    }
    .sidebar{
        grid-area: sidebar;
        position: sticky;
        top: 0;
        width: 20vw;
    }
    .sidebar img{
        width: 90%;
    }
    .about{
        grid-area: about;
        padding: 5em;
        
    }
}